.git
.github
.env
.venv
venv/
.vscode
.idea
__pycache__
node_modules
.gitignore
.dockerignore

app/__pycache__
app/*/__pycache__/
app/**/*/__pycache__/
app/*/*/**/__pycache__/

local-cdn/

.DS_Store
app/.DS_Store
app/theme/.DS_Store
app/theme/static_src/.DS_Store

# Include .pkl files in the app directory
!app/*.pkl