<!-- /recsys/templates/recsys/base.html -->
{% load static tailwind_tags %}
{% load static %}
{% load icons %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/svg+xml">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}MetalBrain{% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="text-white md:block backdrop-brightness-50">
    <!-- Background Wrapper -->
    <div class="relative min-h-screen bg-cover bg-center bg-no-repeat"
         style="background-image: url('{% static "darkbk.webp" %}');">

        <!-- Overlay Container for Content -->
        <div class="container p-5">
            <!-- Navbar -->
            {% include 'recsys/navbar.html' %}
        </div>

        <!-- Header -->
         <div class="container p-6 items-center justify-center">
            {% include 'recsys/header.html' %}
        </div>

            <!-- Main content block -->
            <main class="py-8">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
</body>
</html>

