<!-- Modal to allow user select genre of movies they like -->
{% load static tailwind_tags %}
{% tailwind_css %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/svg+xml">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Recommendation Engine</title>
    {% tailwind_css %}
</head>

<body>
<!-- Modal Section -->
<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-8">
  <div id="genreModal" style="display: none;" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-pink-700 rounded-lg p-6 max-w-md w-full">
        <h2 class="text-2xl mb-4 text-gray-300">Select Your Favorite Genres</h2>
        <form id="genreForm" class="flex flex-col gap-4">
            {% csrf_token %}
            <select name="genre" id="genre" class="p-2 rounded-md border border-gray-300 text-gray-800 focus:outline-none focus:ring-2 focus:ring-cyan-500">
                <option value="" disabled selected>Select a genre...</option> <!-- Placeholder option -->
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
                <option value="Children">Children</option>
                <option value="Comedy">Comedy</option>
                <option value="Crime">Crime</option>
                <option value="Documentary">Documentary</option>
                <option value="Drama">Drama</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Film-Noir">Film-Noir</option>
                <option value="Horror">Horror</option>
                <option value="Musical">Musical</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Thriller">Thriller</option>
                <option value="War">War</option>
                <option value="Western">Western</option>
            </select>
            <button type="button" id="closeModalButton" class="mt-4 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Close</button>
        </form>
    </div>
</div>
</main>
</body>




