<!DOCTYPE html>

{% extends 'recsys/dashboard.html' %}

<!--Load static tailwind tags-->
{% load static tailwind_tags %}

<!--Load tailwind css-->
{% tailwind_css %}

<!--Load static files-->
{% load static %}

{% block title %}Top Rated Movies{% endblock %}

{% block content %}
<section>
    <h2 class="text-2xl font-bold text-yellow-400 mb-4">Top Picks:</h2>
    <div class="flex overflow-x-auto space-x-4 pb-4">
        {% for movie in movies %}
            <div class="movie-item flex-shrink-0 w-64 bg-slate-800 p-4 rounded-lg shadow-lg">
                <a href="{% url 'recsys:movies_details' movie.movie_id %}">
                    <div class="h-48 bg-gray-700 rounded-md hover:shadow-lg transition-shadow overflow-hidden mb-4">
                        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="w-full h-full object-cover rounded-md transform hover:scale-105 transition-transform duration-200">
                    </div>
                </a>
                <h2 class="text-lg font-semibold text-center">{{ movie.title }}</h2>
                  <div class="flex text-center w-full justify-center">
                        <p class="text-center text-gray-100 line-clamp-3">Genres: {{ movie.genres }}</p>
                  </div>
                  <p class="text-center text-yellow-400">
                    Rating: {{ movie.average_rating|default:"N/A" }} / 5.0
                 </p>
            </div>
        {% empty %}
            <p class="text-center">No top-rated movies available.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block extra_js %}
 <script src="{% static 'top_rated_movies.js' %}"></script>
{% endblock %}
